.video-js {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

/* video element take full container */
.vjs-tech {
  object-fit: cover !important;
}
